@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.nav {
  display: block;
  margin: auto;
}

.spin {
  height: 42px;
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #f7f7f7;
  position: relative;
}

.spin-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spin a {
  text-decoration: none;
  color: #000;
  position: relative;
  margin-left: 20px;
  font-size: 12px;
}

.nav-menu {
  margin: 0;
  margin: 20px 50px 20px 20px;
  height: auto;
  position: absolute;
  right: 0;
}

.nav-menu a {
  position: relative;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 18px;
  color: #494949;
}

.nav-menu a:hover {
  color: #000;
  background-color: #f7f7f7;
}

.first-section {
  width: 85%;
  margin: auto;
}

.first-container {
  width: 70%;
  margin: 120px 0;
}

.first-container h1 {
  padding: 0;
  margin: 0;
  font-size: 64px;
  font-weight: 600;
}

.first-container .second {
  color: #757575;
}

.second-section {
  width: 80%;
  margin: 0 120px;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}

.category-devider {
  width: 80%;
  margin: 0 120px;
}

.category-devider p {
  font-size: 16px;
}

.category-devider span {
  font-size: 18px;
  color: #757575;
}

.image-containers {
  width: 45%;
  margin: 50px auto;
  height: 434px;
  background-color: #494949;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.second-section #img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
